<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/stylepage7.css">
    <title>page 7</title>
</head>
<body>
    <section class="section__text">
        <h1>Design is the way how you express the feelings</h1>
    </section>
    <section class="section__images">
        <article class="article__frame">
            <h1>01</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <img src="../src/storage/img/Frame1.png">
        </article>
        <article class="article__frame">
            <h1>02</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <img src="../src/storage/img/Frame2.png">
        </article>
        <article class="article__frame">
            <h1>03</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <img src="../src/storage/img/Frame3.png">
        </article>
        <article class="article__frame">
            <h1>04</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <img src="../src/storage/img/Frame4.png">
        </article>
    </section>
    <link rel="stylesheet" href="../src/css/stylepage6.css">
    <title>page 6 </title>
</head>
<body>
    <main>
        <section class="section__column-1">
            <div class="div__circle">
                <img src="../src/storage/img/Fontcircle.png">
            </div>
            <article class="article__content">
                <h1>THE eWatch with the newest microchip technology</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
                <section class="section__content-buttons">
                    <div class="div__button-1">
                        <button>Order now</button>
                    </div>
                    <div class="div__button-2">
                        <button>Explore more</button>
                    </div>
                </section>
            </article>
            <article class="article__list">
                <div class="div__list-frame">
                    <div class="div__list-frame-pic">
                        <img src="../src/storage/img/Vector1.png">
                    </div>
                    <h3>Lorem ipsu dolor amet</h3>
                </div>
                <div class="div__list-frame">
                    <div class="div__list-frame-pic">
                        <img src="../src/storage/img/Vector2.png">
                    </div>
                    <h3>Lorem ipsu dolor amet</h3>
                </div>
                <div class="div__list-frame">
                    <div class="div__list-frame-pic">
                        <img src="../src/storage/img/Vector3.png">
                    </div>
                    <h3>Lorem ipsu dolor amet</h3>
                </div>
                <div class="div__list-frame">
                    <div class="div__list-frame-pic">
                        <img src="../src/storage/img/Vector4.png">
                    </div>
                    <h3>Lorem ipsu dolor amet</h3>
                </div>
            </article>
        </section>
        <section class="section__column-2">
            <article class="article__image-group">
                <div class="div__star-1">
                    <img src="../src/storage/img/Star.png">                
                </div>
                <div class="div__star-2">
                    <img src="../src/storage/img/Star (1).png">
                </div>
                <div class="div__star-3">
                    <img src="../src/storage/img/Star (1).png">
                </div>
                <div class="div__tag-1">
                    <h3>Award winning product</h3>
                </div>
                <div class="div__tag-2">
                    <h3>Ergonomic design</h3>
                </div>
                <div class="div__stroke-1">
                </div>
                <div class="div__stroke-2">
                </div>
                <div class="div__unsplash">
                    <img src="../src/storage/img/unsplash_QRWAdBCqysc.png">
                </div>
            </article>
        </section>
    </main>
</body>
</html>