<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/stylepage13.css">
    <title>Page 13</title>
</head>
<body>
    <img class="img__1" src="../src/storage/img/Star.png">
    <img class="img__2" src="../src/storage/img/Star.png">
    <img class="img__4" src="../src/storage/img/Explosion.png">
    <img class="img__3" src="../src/storage/img/Party.png">
    
    <section class="section__card-1">
        <p class="p__number-1">01</p>
        <p class="p__text-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus.</p>
    </section>
    <section class="section__card-2">
        <p class="p__number-2">02</p>
        <p class="p__text-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus.</p>
    </section>

    <section class="section__text">
        <img src="../src/storage/img/Gradientbg.png">
        <h1>Create your design</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget.</p>
        <button>Explore</button>
    </section>

    <img class="img__prin-1" src="../src/storage/img/Imagebottom.png">
    <img class="img__prin-2" src="../src/storage/img/Imagetop.png">

    
</body>
</html>