<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/stylepage-2.css">
    <title>page 2</title>
</head>
<body>
    <main class="main__container">
        <div class="texto_1">
            <h1>Discover the beauty around the world</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu.</p>
            <button>Get started</button>
        </div>
        <div class="paisaje_1">
            <img src="../src/storage/img/paisaje 1.png" alt="left-image">
        </div>
        <div class="paisaje_2">
            <img src="../src/storage/img/paisaje2.png" alt="right-image">
        </div>
        <div class="paisaje_2-1">
            <div class="paisaje-2">
              <img src="../src/storage/img/paisaje1-1.png" alt="1">
              <span>01</span>
            </div>
            <div class="paisaje-2">
              <img src="../src/storage/img/paisaje 1-2.png" alt="2">
              <span>02</span>
            </div>
            <div class="paisaje-2">
              <img src="../src/storage/img/paisaje1-3.png" alt="3">
              <span>03</span>
            </div>
          </div>
        </main>
</body>
</html>