<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/stylepage20.css">
    <title>Document</title>
</head>
<body>
    <section class="section__list">
        <div class="div__list">
            <div class="div__frame1">
                <img src="../src/storage/img/Group12.png">
                <h1>190+</h1>
                <p>Lorem ipsum dolor sit amet, consectetur</p>
            </div>
            <div class="div__frame1">
                <img src="../src/storage/img/Group12.png">
                <h1>123k</h1>
                <p>Lorem ipsum dolor sit amet, consectetur</p>
            </div>
            <div class="div__frame1">
                <img src="../src/storage/img/Group12.png">
                <h1>58</h1>
                <p>Lorem ipsum dolor sit amet, consectetur</p>
            </div>
        </div>
    </section>
    <div class="div__imgCen">
        <img src="../src/storage/img/Heroimages.png">     
    </div>
    <section class="section__cards">
        <div class="div__cardsTo">
            <div class="div__card">
                <img src="../src/storage/img/Rectangle 22.png ">
                <p id="p">Et integer facilisi eget</p>
            </div>
            <div class="div__card">
                <img src="../src/storage/img/Rectangle 23.png">
                <p id="p">Et integer facilisi eget</p>
            </div>
            <div class="div__card">
                <img src="../src/storage/img/Rectangle 24.png ">
                <p id="p">Et integer facilisi eget</p>
            </div>
            <div class="div__card">
                <img src="../src/storage/img/Rectangle 25.png ">
                <p id="p">Et integer facilisi eget</p>
            </div>
            <div class="div__card">
                <img src="../src/storage/img/Rectangle 26.png ">
                <p id="p">Et integer facilisi eget</p>
            </div>
        </div>
    </section>
    <section class="section__textButton">
        <h1>Your coffee
            Your vibe
            Your energy</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
        <button>Explore</button>
    </section>
</body>
</html>