<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/stylepage19.css">
    <title>page 19</title>
</head>
<body>
    <section class="section__textImg">
        <div class="div__box">
            <div class="div__Chef">
                <hr class="hr__line">
                <p>Chef ABC</p>
            </div>
            <p class="storage ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper </p>
            <img class="img__1" src="../src/storage/img/Frame14266.png">
        </div>
    </section>
    <section class="section__imgs">
        <img src="../src/storage/img/Rectangle 18.png ">
        <img src="../src/storage/img/Rectangle 19.png ">
        <img src="../src/storage/img/Rectangle 20.png ">
    </section>
    <main class="main__imgText">
        <img src="../src/storage/img/unsplash_yhc4pSbl01A.png">
        <section class="section__textButton">
            <h1>A place you 
            eat healthy</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer 
            facilisi eget. Lorem ipsum dolor.</p>
            <button>Explore the menu</button>
        </section>
    </main>
</body>
</html>