<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/stylepage9.css">
    <title>Page 9</title>
</head>
<body>
    <img src="../src/storage/img/Imageleft.png">
    <img src="../src/storage/img/Imageright.png">
    <div class="div__text">
        <h1>Interior design</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
        <button>Explore</button>
    </div>
    <div class="div__list">
        <section class="section__frame">
            <h3>5.8</h3>
            <hr class="hr__line">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget.</p>
        </section>
        <section class="section__frame">
            <h3>99+</h3>
            <hr class="hr__line">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget.</p>
        </section>
        <section class="section__frame">
            <h3>110K</h3>
            <hr class="hr__line">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget.</p>
        </section>
    </div>
    
</body>
</html>