<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/stylepage8.css">
    <title>pago 8</title>
</head>
<body>
    <section class="section__img">
        <img class="img-unsplash" src="../src/storage/img/unsplash_aoEwuEH7YAs.png">
        <img class="ellipse" src="../src/storage/img/Ellipsebg.png">
        <img class="pattern1" src="../src/storage/img/pattern.png">
        <img class="pattern2" src="../src/storage/img/pattern.png">
    </section>
    <section class="section__content">
        <h1>Take your designs to the next level</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu.</p>
        <button>Explore</button>
    </section>
</body>
</html>