<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/stylepage16.css">
    <title>page 16 </title>
</head>
<body>
    <img class="img__bac" src="../src/storage/img/AI image - OpenAI.png">
    <section class="section__card">
        <div class="div__card-1">
            <img src="../src/storage/img/Insights.png" >
            <h1>Planets</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="div__card-1">
            <img src="../src/storage/img/Insights.png">
            <h1>Interstellar</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="div__card-1">
            <img src="../src/storage/img/Insights.png">
            <h1>Wormhole</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="div__card-1">
            <img src="../src/storage/img/Insights.png">
            <h1>Time</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </section> 
    <section class="section__text">
        <div class="div__texImg">
            <img src="../src/storage/img/colorblocks.png">
            <h1>What’s next in <br> your space travel</h1>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Faucibus in libero risus semper <br>habitant arcu eget. Et integer facilisi eget diam.</p>
        <button>Explore</button>
    </section>
</body>
</html>