<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/stylepage10.css">
    <title>page 10</title>
</head>
<body>
    <section class="section__text">
        <h1><span>Desing.</span> <span>Create.</span> <span>Inspire.</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
        <button>Explore</button>
    </section>
    <section class="section__img">
        <div class="div__img">
            <img src="../src/storage/img/Frame1.png">
            <img src="../src/storage/img/Frame2.png">
            <img src="../src/storage/img/Frame3.png">
            <img src="../src/storage/img/Frame4.png">
        </div>
        <div class="div__img">
            <img src="../src/storage/img/Frame5.png">
            <img src="../src/storage/img/Frame6.png">
            <img src="../src/storage/img/Frame7.png">
            <img src="../src/storage/img/Frame8.png">
        </div>
        <div class="div__img">
            <img src="../src/storage/img/Frame9.png">
            <img src="../src/storage/img/Frame10.png">
            <img src="../src/storage/img/Frame11.png">
            <img src="../src/storage/img/Frame12.png">
        </div>
        <div class="div__img">
            <img src="../src/storage/img/Frame13.png">
            <img src="../src/storage/img/Frame14.png">
            <img src="../src/storage/img/Frame15.png">
            <img src="../src/storage/img/Frame16.png">
        </div>
    </section>
    
</body>
</html>