<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/stylepage7.css">
    <title>page 7</title>
</head>
<body>
    <section class="section__text">
        <h1>Design is the way how you express the feelings</h1>
    </section>
    <section class="section__images">
        <article class="article__frame">
            <h1>01</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <img src="../src/storage/img/Frame1.png">
        </article>
        <article class="article__frame">
            <h1>02</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <img src="../src/storage/img/Frame2.png">
        </article>
        <article class="article__frame">
            <h1>03</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <img src="../src/storage/img/Frame3.png">
        </article>
        <article class="article__frame">
            <h1>04</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <img src="../src/storage/img/Frame4.png">
        </article>
    </section>
</body>
</html>