<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/stylepage14.css">
    <title>page 14</title>
</head>
<body>
    <section class="section__card">
        <div class="div__card-1">
            <span>4.9</span>
            <hr class="hr__line">
            <p>Lorem ipsum dolor amet</p>
        </div>
        <div class="div__card-1">
            <span>876k</span>
            <hr class="hr__line">
            <p>Lorem ipsum dolor amet</p>
        </div>
        <div class="div__card-1">
            <span>No.1</span>
            <hr class="hr__line">
            <p>Lorem ipsum dolor amet</p>
        </div>
    </section>    
    <section class="section__text">
        <h1>Listen to yourself Follow your heart</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
        <button>Download the App</button>
    </section>

    <section class="clas__imgs">
        <img class="img__1" src="../src/storage/img/Star 1.png">
        <img class="img__2" src="../src/storage/img/Star 2.png">
        <img class="img__3" src="../src/storage/img/unsplash_N_xjrdKZPkw.png">
        <img class="img__4" src="../src/storage/img/Portal.png">
        <img class="img__5" src="../src/storage/img/Heart 1.png">
        <img class="img__6" src="../src/storage/img/bg yellow.png">
        <img class="img__75" src="../src/storage/img/Portal.png">
        <img class="img__8" src="../src/storage/img/Bg brown.png ">
    </section>
    
</body>
</html>