<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/stylepage3.css">
    <title>Page 3</title>
</head>
<body>
    <div class="div__container">
        <div class="texto">
            <h1>Just that simple</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget.</p>
            <button class="btn">Get started</button>
        </div>
        <div class="arqui">
            <img src="../src/storage/img/arqui.png">
        </div>
    </div>
</body>
</html>