<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/stylepage18.css">
    <title>page 18</title>
</head>
<body>
    <img class="img__ritgh" src="../src/storage/img/shape and font circle-1.png ">
    <img class="img__left" src="../src/storage/img/shape and font circle.png ">
    <section class="section__text">
        <p>Beauty Fashion Culture</p>
        <hr class="hr__line-1">
    </section>
    
    <section class="section__text-2">
        <p>Exclusive gifts. 
        Insider access. 
        Special events.</p>
        <hr class="hr__line-2">
    </section>
    <section class="section__card-text">
        <h1>Your ultimate <br> fashion outfits</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus</p>
        <button>Explore</button>
    </section>
    <section class="section__imgs">
        <img class="img__1" src="../src/storage/img/right.png">
        <div class="div__img-1">
            <img class="img--1" src="../src/storage/img/Frame 14252.png">
            <img class="img--2" src="../src/storage/img/Frame 14251.png ">
        </div>
        <img class="img__2" src="../src/storage/img/Middle.png">
        <div class="div__img-2">
            <img class="img--3" src="../src/storage/img/Frame 14248.png ">
            <img class="img--4" src="../src/storage/img/Frame 14249.png ">
        </div>
        <img class="img__3" src="../src/storage/img/left.png">
    </section>
</body>
</html>