<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/stylepage11.css">
    <title>page 11</title>
</head>
<body>
    <section class="section__text">
        <h1>New designs <br> New inspirations</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
        <button>Explore</button>
    </section>
    
    <section class="section__img">
        <img src="../src/storage/img/Rectangle2.png">
        <img src="../src/storage/img/Rectangle1.png">
        
    </section>

    <footer class="footer">
        <div class="div__container-text">
            <div class="div__caja1">
                <img class="img__nube" src="../src/storage/img/nube.png">
                <h1>Title 1</h1>
                <p>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit.</p>
            </div>
            <div class="div__caja1">
                <img class="img__nube" src="../src/storage/img/nube.png">
                <h1>Title 2</h1>
                <p>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit.</p>
            </div>
            <div class="div__caja1">
                <img class="img__nube" src="../src/storage/img/nube.png">
                <h1>Title 3</h1>
                <p>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit.</p>
            </div>
        </div>
    </footer>
</body>
</html>