<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../src/css/stylepage12.css">
    <title>page 12</title>
</head>
<body>
    <section class="section__imgs">
        <img class="lines" src="../src/storage/img/shapewave.png">
        <img class="dawn-1" src="../src/storage/img/Dawn.png">
        <img class="dawn-2" src="../src/storage/img/Dawn-1.png">
        <img class="spiral" src="../src/storage/img/Spiral 3.png">
    </section>
    <section class="section__text">
        <h1><span>Discover.</span> <span>Explore.</span> <span>Inspire.</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. 
        Faucibus in libero risus semper <br> habitant arcu eget. Et 
        integer facilisi eget diam.</p>
        <button>Explore</button>
    </section>
    <section class="section__ilustrations">
        <img class="img__1" src="../src/storage/img/Frame1.png">
        <img class="img__2" src="../src/storage/img/Frame2.png">
        <img class="img__3" src="../src/storage/img/Frame3.png">
    </section>
    <section class="section__card">
        <img src="../src/storage/img/photo.png">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit. 
        Faucibus in libero risus semper habitant arcu <br> eget. Et integer 
        facilisi eget diam.</p>
    </section>
</body>
</html>