<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/stylepage15.css">
    <title>page 15</title>
</head>
<body>
    <img class="img__1" src="../src/storage/img/Star 4.png ">
    <img class="img__2" src="../src/storage/img/Star 3.png ">
    <section class="section__imgs-1">
        <img class="img__1-1" src="../src/storage/img/Frame 14215.png">
        <img class="img__1-2" src="../src/storage/img/Frame 14214.png">
    </section>
    <section class="section__imgs-2">
        <img class="img__1-1" src="../src/storage/img/Frame 14221.png">
        <img class="img__1-2" src="../src/storage/img/Frame 14217.png ">
    </section>
    <section class="section__imgs-mid">
        <img src="../src/storage/img/image middle.png">
    </section>
    <section class="section__text-1-right">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. 
        Et integer facilisi </p>
        <h1>Trave
            Explore
            Discover</h1>
    </section>
    <section class="section__text-2-left">
        <h1>Adventure
            Voyage
            Wandering</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus 
        semper habitant arcu eget. Et integer facilisi. </p>
        <button>Get started</button>
    </section>
    
</body>
</html>