@import url(variablespage17.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--bacground);
}

.footer__img {
    display: flex;
    position: absolute;
    width: 1313px;
    height: 344px;
    top: 1070px;
    left: 64px;
    gap: 40px;
}
.section__card {
    display: flex;
    position: absolute;
    width: 1048px;
    height: 191px;
    top: 417px;
    left: 196px;
    gap: 72px;
    border-radius: 48px;
    padding-top: 40px;
    padding-right: 64px;
    padding-bottom: 40px;
    padding-left: 64px;

    background-color: #FFFFFF;
}
.section__card h1 {
    width: 71px;
    height: 33px;

    font-family: "AvenirLTStd-Heavy";
    font-weight: 800;
    font-size: 24px;
    line-height: 32.78px;
    letter-spacing: 0%;
}
.section__card hr {
    width: 66px;
    height: 4px;
    background-color: var(--color-2);
    margin-top: 5px;
  

}
.section__card p {
    width: 176px;
    height: 50px;

    font-family: "AvenirLTStd-Roman";
    font-weight: 400;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: 0%;
    margin-top: 10px;
    
}
.img__center {
    position: absolute;
    width: 1312px;
    height: 526px;
    top: 504px;
    left: 64px;
    border-radius: 24px; 
    z-index: -1;
}
.section__text {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    width: 695px;
    height: 297px;
    top: 64px;
    left: 358px;
    gap: 24px;
}
.section__text h1 {
    width: 695px;
    height: 84px;

    font-family: "Poppins-SemiBold";
    font-weight: 600;
    font-size: 56px;
    line-height: 84px;
}
.section__text p {
    width: 689px;
    height: 99px;

    font-family: "AvenirLTStd-Roman";
    font-weight: 400;
    font-size: 24px;
    line-height: 32.78px;
    letter-spacing: 0%;
    text-align: center;
   
}
.section__text button {
    display: flex;
    flex-direction: column-reverse;
    width: 182px;
    height: 66px;
    border-radius: 36px;
    gap: 10px;
    padding-top: 24px;
    padding-right: 48px;
    padding-bottom: 24px;
    padding-left: 48px;
    background-color: var(--color-2);
    
    font-family: "Poppins-Regular";
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 0%;
    color: var(--color-1);
}