@import url(variablespage5.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: var(--color-2);
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.titulo {
    width: 531px;
    height: 208px;
    font-size: 44px;
    display: flex;
    justify-self: flex-start;
    margin-top: 64px;
    
    font-family: "avenirheavy";
   

}

.fragmentos {
    width: 1312px;
    height: 549px;
    display: flex;
    justify-items: center;
    gap: 56px;
    margin-top: 69px;
}

.fragmentos-1{
    width: 400px;
    height: 549px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--color-2);
  font-family: "avernirroman";
}

.fragmentos-1 .number {
    font-size: 32px; 
    opacity: 55%;

}

.fragmentos-1 text {
    width: 418px;
    height: 132px;
    color: var(--color-2);
    opacity: 80%;
    font-size: 24px;
   font-family: "avernirroman";
   background-color: blueviolet;
   
}

.fragmentos-1 .card-image {
    width: 400px;
    height: 345px;
    margin-top: 20px;
}