:root{
    --color-1: #ffffff;
    --bottonColor: #252525;
    --colorTitle1: #FEC3C7;
    --colorTitle2: #9AD7F3;
    --colorTitle3: #6BDFDA;
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(../storage/fonts/Poppins-Bold.ttf)
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(../storage/fonts/Poppins-Regular.ttf);
}