:root{
    --color-1: #FFFFFF;
    --color-2: #252525;

}
@font-face {
    font-family: "AvenirLTStd-Heavy";
    src: url(../storage/font/AvenirLTStd-Heavy.otf);
}

@font-face {
    font-family: "AvenirLTStd-Roman";
    src: url(../storage/font/AvenirLTStd-Roman.otf);
}