:root{
    --color-1: #ffffff;
    --color-2: #252525;
}

@font-face {
    font-family: "AvenirLTStd-Black";
    src: url(../storage/font/avenir-font/AvenirLTStd-Black.otf);
}

@font-face {
    font-family: "avenirheavy";
    src: url(../storage/fonts/AvenirFontFamily/AvenirLTStd-Heavy.otf);

}

@font-face {
    font-family: "avernirroman";
    src: url(../storage/fonts/Avenir-Roman.otf);
}