:root{
    --color-1: #ffffff;
    --color-2: #252525;

}
@font-face {
    font-family: "Avenir-Heavy";
    src: url(../storage/fonts/Avenir-Heavy.otf);
}

@font-face {
    font-family: "Avenir-Roman";
    src: url(../storage/fonts/Avenir-Roman.otf);
}