:root{
    --color-1: #ffffff;
    --color-2: #252525;
}

@font-face {
    font-family: "Avenir.roman";
    src: url(../storage/fonts/AvenirLTStd-Roman.otf)
}
@font-face {
    font-family: "Avernirheavy ";
    src: url(../storage/fonts/AvenirLTStd-Heavy.otf);
}

@font-face {
    font-family: "Avenir-Black";
    src: url(../storage/fonts/AvenirLTStd-Black.otf);
}

